<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pizza</title>
</head>


<body>
    <h1> Przygotuj wlasna pizze</h1>
    <!--obrazek-->
    <form method="POST" th:object="${design}">

        <div class="grid">
            <div class = "ingredient-group" id="miesne">

                <h3>Wybierz skladnik miesny</h3>
                <div th:each="ingredient : ${miesne}">
                    <input name ="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span> <br/>

                </div>
            </div>

            <div class = "ingredient-group" id="warzywne">

                <h3>Wybierz skladnik warzywny</h3>
                <div th:each="ingredient : ${warzywne}">
                    <input name ="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span> <br/>

                </div>
            </div>

            <div class = "ingredient-group" id="ser">

                <h3>Wybierz ser</h3>
                <div th:each="ingredient : ${ser}">
                    <input name ="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span> <br/>

                </div>
            </div>

            <div class = "ingredient-group" id="inne">

                <h3>Wybierz skladnik typu innego</h3>
                <div th:each="ingredient : ${inne}">
                    <input name ="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span> <br/>

                </div>
            </div>

            <div>

                <h3>Nazwij swoja pizze:</h3>
                <input type="text" th:field="*{name}"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">Name Error</span>
                <br/>

                <button>Submit your taco</button>
        </div>
    </form>

</body>
</html>